* {
    box-sizing: border-box;
}

html, body, form {
    height: 100%;
}

.table {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 200px;
}

label {
    display: flex;
    flex-direction: column;
}

input, select {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
}